# Set this per Vercel project
NEXT_PUBLIC_BIZ_KEY=aquame

# Supabase anon key (safe for browser)
NEXT_PUBLIC_SUPA_URL=https://lzfgigiyqpuuxslsygjt.supabase.co
NEXT_PUBLIC_SUPA_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6ZmdpZ2l5cXB1dXhzbHN5Z2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ0MTc0NjksImV4cCI6MjA1OTk5MzQ2OX0.2VElpFBMcpOtnqdSyuEIjHXCJT47k4tFpJLtRVS5eoU
